@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject IModalService Modal

@page "/"
<div class="container-fluid h-100 d-flex flex-column">

@if (@gameInProgress)
{
    <div class="row">
        <div class="col" style="padding: 0">
            <TeamDisplay Team=@team1/>
        </div>
        <div class="col" style="padding-right: 0">
            <TeamDisplay Team=@team2/>
        </div>
    </div>

    <div class="h-100 d-flex align-items-end">
        <button class="btn btn-primary mx-auto mb-5" @onclick="EndGame">End Game</button>
    </div>
}
else
{
    <h5>Enter team names:</h5>
    <p>Team 1: <input type="text" placeholder="Team 1" @bind="team1.Name"/></p>
    <p>Team 2: <input type="text" placeholder="Team 2" @bind="team2.Name"/></p>
    <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
}

</div> @*End Bootstrap container*@


@code {
    private bool gameInProgress { get; set; } = false;
    private Team team1 { get; set; } = new Team { StorageId = "team1" };
    private Team team2 { get; set; } = new Team { StorageId = "team2" };

    protected override Task OnInitializedAsync()
    {
        gameInProgress = localStorage.GetItem<bool>("gameInProgress");
        if (gameInProgress)
        {
            team1 = localStorage.GetItem<Team>("team1");
            team2 = localStorage.GetItem<Team>("team2");
        }
        else
        {
            team1 = new Team { StorageId = "team1" };
            team2 = new Team { StorageId = "team2" };
        }
        return base.OnInitializedAsync();
    }

    private void StartGame()
    {
        if (string.IsNullOrEmpty(team1.Name))
        {
            team1 = new Team();
            team1.Name = "Team 1";
        }
        if (string.IsNullOrEmpty(team2.Name))
        {
            team2 = new Team();
            team2.Name = "Team 2";
        }
        gameInProgress = true;
        localStorage.SetItem<bool>("gameInProgress", gameInProgress);
        localStorage.SetItem<Team>("team1", team1);
        localStorage.SetItem<Team>("team2", team2);
    }

    private void EndGame()
    {
        Console.WriteLine("Ending game");
        gameInProgress = false;
        localStorage.SetItem<bool>("gameInProgress", gameInProgress);
        Console.WriteLine("GameInProgress prop updated");
        team1 = new Team { StorageId = "team1" };
        localStorage.SetItem<Team>("team1", team1);
        Console.WriteLine("Team1 prop updated");
        team2 = new Team { StorageId = "team2" };
        localStorage.SetItem<Team>("team2", team2);
        Console.WriteLine("Team1 prop updated");
    }
}
